<<<<<<< HEAD
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 80; 
}

/*KHUSUS BAGIAN CONTAINER*/
.container {
  margin: 0 auto;
  max-width: 940px; 
  padding: 0 10px;

}

/*KHUSUS BAGIAN HEADER*/
.header {
  background: url(gambar/SAM_3201.jpg) no-repeat center center; 
  background-size: cover;
  height: 800px;
  text-align: center; 
}

.header .container {
  position: relative;
  top: 200px;
}

.header h1 {
  color: #fff;
  line-height: 100px; 
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 100px;
  text-transform: uppercase; 
}

@media (min-width:850px) {
  .header h1 {
    font-size: 120px;
  }
}

.header p {
  color: #fff;
  font-weight: 500;
  letter-spacing: 8px;
  margin-bottom: 40px;
  margin-top: 0;
  text-transform: uppercase; 
}

/*KHUSUS BAGIAN MENU*/
.menu { 
  background: #000;
  height: 80px; 
  width: 100%;
}

.menu ul {
  height: 80px;
  list-style: none;
  margin: 0 auto; 
  padding: 0;
}

.menu ul li {
  color: #fff;
  display: inline-block; 
  height: 80px;
  line-height: 80px; 
  list-style: none;
  padding: 0 20px;
  text-align:center;
}

.menu ul li a{
	color: #fff;
	text-decoration:none;

}
.menu ul li a:hover{
  color: #fff;
  background: #303030;
  margin:0;
  padding: 10px 5px;
  text-decoration: none; 
  transition: background .5s; 
}


/*KHUSUS BAGIAN MAIN*/
.box{
 display:inline-block;
 width:700px;
 font-size:16px;	
 float:left;
 margin:50px 100px 22px 50px;
	}

.box p{
	color:black;
	text-indent:0.5in;
	}

.tambahan{
 display:inline-block;
 width:230px;
 height:900px;
 color: #333333;
 font-size:14px;	
 float:left;
 margin:22px;
	}
	
.tambahan p{
	text-indent:0.5in;
	color:black;
}

.tambahan img{
	width:100px;
	margin:10px;
	border-radius:20px;
}
/*KHUSUS BAGIAN TABLE PADA PROFILE*/	
.table{
	width:300px;
	margin:20px;
}

.table td{
	width:364;
	height:50;
	margin:10;
}

/*KHUSUS BAGIAN TABLE PADA BMF*/	
.table2{
	width:300px;
	margin:20px;
}

.table2 td{
	width:364;
	height:50;
	margin:10;
}
/*KHUSUS BAGIAN GALERI*/
.galeri{
	margin:20px;
}	

.galeri .galeri1{
	display:inline-block;
	width:150px;
	margin:20px;
}	

.galeri .galeri2{
	display:inline-block;
	width:150px;
	margin:20px;
}

.galeri .galeri3{
	display:inline-block;
	width:150px;
	margin:20px;
}

.galeri .galeri4{
	display:inline-block;
	width:150px;
	margin:20px;
}

.galeri .galeri5{
	display:inline-block;
	width:150px;
	margin:20px;
}

.galeri .galeri6{
	display:inline-block;
	width:150px;
	margin:20px;
}

.galeri .galeri7{
	display:inline-block;
	width:150px;
	margin:20px;
}	

.galeri .galeri8{
	display:inline-block;
	width:150px;
	margin:20px;
}

.galeri .galeri9{
	display:inline-block;
	width:150px;
	margin:20px;
}

/*Bagian Main*/
.main .marquee{
	color:#fff;
	font-size:30;
	background: #3a3a3a;
	
}
.main .container {
  margin: 80px auto;
}

/*KHUSUS BAGIAN FOOTER*/
.footer { 
  background: #1e1e1e;
  height: 50px; 
  padding-bottom: 50px;
  clear:both;
}

.footer p { 
  color: #fff;
  font-size: 14px;  
  height: 30px; 
  line-height: 80px;
  margin: 0;  
}

.footer img{
	margin-top:0;
	margin-left:30px;
}

.footer .SM{
	display:inline-block;
	width:400px;
	margin:0 auto;
}	

.footer .Copy{
	display:inline-block;
	width:400px;
	margin:0 auto;
}

@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .main img {
    width: 100%;
  }
=======
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 80; 
}

/*KHUSUS BAGIAN CONTAINER*/
.container {
  margin: 0 auto;
  max-width: 940px; 
  padding: 0 10px;

}

/*KHUSUS BAGIAN HEADER*/
.header {
  background: url(gambar/SAM_3201.jpg) no-repeat center center; 
  background-size: cover;
  height: 800px;
  text-align: center; 
}

.header .container {
  position: relative;
  top: 200px;
}

.header h1 {
  color: #fff;
  line-height: 100px; 
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 100px;
  text-transform: uppercase; 
}

@media (min-width:850px) {
  .header h1 {
    font-size: 120px;
  }
}

.header p {
  color: #fff;
  font-weight: 500;
  letter-spacing: 8px;
  margin-bottom: 40px;
  margin-top: 0;
  text-transform: uppercase; 
}

/*KHUSUS BAGIAN MENU*/
.menu { 
  background: #000;
  height: 80px; 
  width: 100%;
}

.menu ul {
  height: 80px;
  list-style: none;
  margin: 0 auto; 
  padding: 0;
}

.menu ul li {
  color: #fff;
  display: inline-block; 
  height: 80px;
  line-height: 80px; 
  list-style: none;
  padding: 0 20px;
  text-align:center;
}

.menu ul li a{
	color: #fff;
	text-decoration:none;

}
.menu ul li a:hover{
  color: #fff;
  background: #303030;
  margin:0;
  padding: 10px 5px;
  text-decoration: none; 
  transition: background .5s; 
}


/*KHUSUS BAGIAN MAIN*/
.box{
 display:inline-block;
 width:700px;
 font-size:16px;	
 float:left;
 margin:50px 100px 22px 50px;
	}

.box p{
	color:black;
	text-indent:0.5in;
	}

.tambahan{
 display:inline-block;
 width:230px;
 height:900px;
 color: #333333;
 font-size:14px;	
 float:left;
 margin:22px;
	}
	
.tambahan p{
	text-indent:0.5in;
	color:black;
}

.tambahan img{
	width:100px;
	margin:10px;
	border-radius:20px;
}
/*KHUSUS BAGIAN TABLE PADA PROFILE*/	
.table{
	width:300px;
	margin:20px;
}

.table td{
	width:364;
	height:50;
	margin:10;
}

/*KHUSUS BAGIAN TABLE PADA BMF*/	
.table2{
	width:300px;
	margin:20px;
}

.table2 td{
	width:364;
	height:50;
	margin:10;
}
/*KHUSUS BAGIAN GALERI*/
.galeri{
	margin:20px;
}	

.galeri .galeri1{
	display:inline-block;
	width:150px;
	margin:20px;
}	

.galeri .galeri2{
	display:inline-block;
	width:150px;
	margin:20px;
}

.galeri .galeri3{
	display:inline-block;
	width:150px;
	margin:20px;
}

.galeri .galeri4{
	display:inline-block;
	width:150px;
	margin:20px;
}

.galeri .galeri5{
	display:inline-block;
	width:150px;
	margin:20px;
}

.galeri .galeri6{
	display:inline-block;
	width:150px;
	margin:20px;
}

.galeri .galeri7{
	display:inline-block;
	width:150px;
	margin:20px;
}	

.galeri .galeri8{
	display:inline-block;
	width:150px;
	margin:20px;
}

.galeri .galeri9{
	display:inline-block;
	width:150px;
	margin:20px;
}

/*Bagian Main*/
.main .marquee{
	color:#fff;
	font-size:30;
	background: #3a3a3a;
	
}
.main .container {
  margin: 80px auto;
}

/*KHUSUS BAGIAN FOOTER*/
.footer { 
  background: #1e1e1e;
  height: 50px; 
  padding-bottom: 50px;
  clear:both;
}

.footer p { 
  color: #fff;
  font-size: 14px;  
  height: 30px; 
  line-height: 80px;
  margin: 0;  
}

.footer img{
	margin-top:0;
	margin-left:30px;
}

.footer .SM{
	display:inline-block;
	width:400px;
	margin:0 auto;
}	

.footer .Copy{
	display:inline-block;
	width:400px;
	margin:0 auto;
}

@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .main img {
    width: 100%;
  }
>>>>>>> efa9e25c667f6295227926a75da0652cd67664eb
}